@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@500&display=swap');*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    font-size: 100%;
  /*   overflow: hidden; */
  } 
  

  :root {
    /* colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;
  
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;



    --backgroundColor: var(--grey-50);
    --headingFont: 'Quicksand', sans-serif;
    --bodyFont: 'Poppins', sans-serif;
    --smallText: 0.7em;
    --max-width: 1280px;
    --borderRadius: 0.25rem;
    --fixed-width: 600px;
    --borderRadius: 0.25rem;
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --letterSpacing: 1px;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;


    --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 500;
    line-height: 1.3;
   
 
  }  
  a {
    text-decoration: none !important;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
 
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
  .Students{
    display: none;
  }
  .Due{
    display: none;
  }
  .Borrow{
    display: none;
  }
  .Borrowed{
    display: none;
  }
  .Return{
    display: none;
  }
  .Books{
    display: none;
  }
  .Damaged{
    display: none;
  }
  .Default{
    display: none;
  }
    /*
=============== 
Container
===============
*/

  .container {

    font-size: 1.5em;
   height: 100vh;
    width: 100%;
    color: var(--grey-200);
    background-color: #0c2b6e;
    overflow-y: auto;
    display: grid;
    font-family: var(--bodyFont);
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "aside"
      "content"
      "footer";
  }

  @media (min-width: 500px){
    .container{
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header"
        "aside"
        "content"
        "footer";
    }
  }

  @media (min-width: 800px){
    .container{
      grid-template-areas:
      /* Only change code below this line */
        "aside header"
        "aside content"
        "aside footer";
      /* Only change code above this line */
    }
  }

 
  

  footer{
    grid-area: footer;
    background-color: #0b245a;
    border-radius: 5px;
  }

  main{
    
    grid-area: content;
    max-height: 80vh;
    padding:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
   
  }
      /*
=============== 
Header
===============
*/

header{
  background-color: #0b245a;
  grid-area: header;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 1.5em;
}
header img{
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
}

      /*
=============== 
Footer
===============
*/

footer h5{
  text-align: center;
}





    /*
=============== 
Sidebar
===============
*/
aside{

     grid-area: aside;
    background-color: #021131;
     padding: 0em 0em;
     border-radius: 5px;
   }
  .sidebar{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.3em 2.5em;
  
}
.profile{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.profile img{
  height: 130px;
  width: 130px;

  border-radius: 50%;
}
.profile h4{
  text-align: center;
  text-decoration: underline;
  font-size: 1rem;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1em;


}
.menu li{

    cursor: pointer;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    transition: 0.5s ease-in-out;
    
}
.menu li:hover{
    transform: scale(1.3);

}
 .logOut{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  font-size: 1rem;
 } 

    /*
=============== 
Forms
===============
*/


.form-borrow, .form-return {
    width: 90vw;
    max-width: var(--fixed-width);
    background: transparent;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .borrow-header{
    text-align: center;
  }
  .form-label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: #02143a90;
    color:var(--white);
    border: 1px solid #5e86bb;;
  }
  
  .form-row {
    margin-bottom: 1rem;
  }
  
  .form-textarea {
    height: 7rem;
  }
  ::placeholder {
    font-family: inherit;
    color: #94a3b8;
  }
  .form-alert {
    color: var(--red-dark);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
  }
  .submit-btn{
    background: #02143a90;
    color: #fff;
    padding: 0.5em 1.2em;
    border: none;
    font-size:1.6rem ;
    cursor: pointer;
    transition: 0.4s ease-in;
    border-radius: 15px;
  }
  .submit-btn:hover{
    background: #fff;
    color: #0c2b6e;
  }
  #comment{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: #02143a90;
    color:var(--white);
    border: 1px solid #5e86bb;
    margin:1em 0em;
  }
  

        /*
=============== 
Home
===============
*/
  .home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container i{
    font-size: 12rem;

}
.intro-home{
    margin: 2em;
}
.intro-home h1{
    font-size: 3rem;
    text-align: center;
}
.buttons-group{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.group-buttons-one{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}
.group-buttons-two{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}
.buttons-group button{
    background-color: #02113180;
    border: none;
    color: #fff;
    padding: 0.75em 1.3em;
    font-size: 1.2rem;
    cursor: pointer;
}
.buttons-group button:hover{
    background-color: #fff;
    color: #0c2b6e;
    transition: 0.3s ease-in;
}


  
      /*
=============== 
Students
===============
*/
.Due{
  width: 100%;
  margin-top: 200px;
  
}
.Due h1{
  text-align: center;
}
.due-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.4em;

}
.due-card{
  padding: 0.5rem;
  background: #02113180;
  border-radius: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;


}
.due-card span{
  font-size: 0.75rem;
  font-weight: 400;
}

.book-section-due{

  overflow: hidden;
}

.Due table{
  border:1px solid #021131;
  padding: 1.5em;
}

.all-students th{
  border: 1px solid white;
  padding: 0.5rem;
  font-size: 1.4rem;
}

.all-students td{
  border: 1px solid white;
  padding: 0em 2em;
  font-size: 1rem;
  text-align: center;
}



     /*
=============== 
Books
===============
*/





.Books{
  padding: 1rem;
  margin-top: 1200px;

}
.Books h1{
  text-align: center;
}
.Books table{
  border:1px solid #021131;
  padding: 1.5em;
}

.booksTable th{
  border: 1px solid white;
  padding: 0.5rem;
  font-size: 1.4rem;
}

.booksTable td{
  border: 1px solid white;
  padding: 0em 2em;
  font-size: 1rem;
  text-align: center;
}

    /*
=============== 
borrowed
===============
*/
.borrow-header{
  text-align: center;
}
.borrowed-container{
  margin-top: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:1.3em;
}
.borrowed-card{
  background: #02113150;
  padding: 1em;

 
  
}
.book-borrowed-name{
  font-size: 1.4rem;
  text-align: center;

}
.borrowed-container a{
  color: #fff;
  border: 2px solid #021131;
  padding: 0.4em 0.75em;
  background: #02113160;

}

        /*
=============== 
Home
===============
*/
.Damaged h1{
  text-align: center;
}
.damaged-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.damaged-card{
  font-family: 'Poppins';
  background: rgba(17,17,17,0.6);
  color: #fff;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 1rem;

}
.damaged-student{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.damaged-student span{
  font-size: 0.9rem;
}


.reason-container i{
 font-size: 1.6rem;
 transition: 0.3s ease-in-out;
 cursor: pointer;

}
.reason-container i:hover{
  transform: scale(1.5);
  color:rgb(39, 3, 3);
  
 }
        /*
=============== 
Defaulted
===============
*/
.defaulted-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.defaulted-card{
  font-family: 'Poppins';
  background: rgba(17,17,17,0.2);
  color: #fff;
  padding: 1em;

}
.defaulted-container span{
  font-size: 0.9rem;
}
.defaulted-container i{
  font-size: 1.6rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
 
 }
 .defaulted-container i:hover{
   transform: scale(1.5);
   color:rgb(39, 3, 3);
   
  }

        /*
=============== 
Loader
===============

*/


.Loader{
  display: none;
} 
@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #ddd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}